# API in the Supabase dashboard.
VITE_SUPABASE_URL=https://vffuovfzrdbaqiduklaf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZmZnVvdmZ6cmRiYXFpZHVrbGFmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU4ODgxODMsImV4cCI6MjEwMTQ2NDE4M30.qeKYS56sVBpZFYBsI6lPvuBtKHnUoFBNKmWMWfTe3EQ
